@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
	background-color: #FFFFFF;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}
.enable {
    height: 40px;
    width: 40px;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 30px;
}
.available {
    height: 40px;
    width: 40px;
    background-color: #FF545F;
    border-radius: 50%;
    margin-right: 30px;
}
